doctype html
html(lang='en')
  head
    title Kangaroo Dashboard

    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='theme-color', content='#000')

    link(
      rel='stylesheet'
    , href='https://fonts.googleapis.com/css?family=Roboto:400,300,500'
    )

    link(
      rel='stylesheet'
    , href='https://fonts.googleapis.com/icon?family=Material+Icons'
    )

    link(
      rel='stylesheet'
    , href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css'
    )

    style.
      .breadcrumb:before{color: #263238}
      .breadcrumb:last-of-type{color: #ff5722 !important}
  body
    #container

    script(src='https://code.jquery.com/jquery-2.1.1.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js')
    script(src='/base.js')
